*{
    margin:0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}
.img-col{
    padding-left: 0px;
    padding-right: 0px;
}

.img{
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container-fluid{
    height: 100vh;
    margin: auto;
    align-items: center;
    /* border : 1px solid gray; */
    padding-top: 50px;
    padding-bottom: 50px;
}